<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
  </head>
  <body>
    <div class="window">
      {% include 'nav2.njk' %}
      <main>
        <article>
          <h1>{{ title }}</h1>
          <img
            id="blog-avatar"
            src="/assets/avatar.png"
            alt="Avatar illustration"
            width="10px"
            height="10px"
          /><small
            >by {{site.author}} —
            <time datetime="{{ date | dateIso }}"
              >{{ date | dateReadable }}</time
            ></small
          >
          {{ content | safe }}
        </article>
      </main>
    </div>

    <script src="/assets/script.js"></script>
  </body>
</html>
