<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="window">
      {% include nav2.html %}
      <main>
        <article>
          <h1>{{ title }}</h1>
          <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
          {{ content | safe }}
        </article>
      </main>
    </div>
    <footer class="page-footer">
      <small>© {{site.year}} {{site.author}}</small>
    </footer>
    <script src="/assets/script.js"></script>
  </body>
</html>
